{{form_start(form)}}

{{form_row(form.imageFile)}}

<div class="mb-3">
	{{form_row(form.title)}}
</div>

{{form_row(form.description)}}

<input type="submit" value="{{ SubmitButtonText ?? 'Create Pin' }}" class="mb-5 btn btn-primary col-12 mt-5" formnovalidate>

{{form_end(form)}}
