{% extends 'layouts/base.html.twig' %}

{% block title pin.title %}

{% block body %}
	<div class="row">
		<div class="col-md-5 mx-auto">
			<article class="mb-5 bg-white rounded shadow pin">
				<div class="mw-100 rounded-top overflow-hidden">
					<img src="{{ (pin.imageNAme ? vich_uploader_asset(pin) : asset ('images/placeholder.jpg' )) | imagine_filter('squared_thumbnail_medium') }}" alt="{{ pin.title }}" class="w-100">
				</div>
				<div class="p-4">
					<h1 class="h4 text-secondary">
						{{ pin.title }}
					</h1>
					<p class="text-muted">
						<small>Submitted
							{{ pin.createdAt|ago }}
							by
							{{ pin.user.fullName }}</small>
					</p>
					<p class="pt-3 text-break">
						{{ pin.description }}
					</p>
					{% if app.user == pin.user or is_granted('ROLE_ADMIN') %}
						<div class="pt-3">
							<a href="{{ path('app_pins_edit', {id: pin.id}) }}" class="me-3 px-4 btn btn-secondary text-decoration-none">Edit</a>

							<a href="#" class=" btn btn-danger px-3 text-decoration-none" onclick="event.preventDefault(); confirm('Are you sure?') && document.getElementById('js-pin-delete-form').submit();">Delete</a>

							<form id="js-pin-delete-form" action="{{ path('app_pins_delete', {id: pin.id}) }}" method="post" style="display: none;">
								<input type="hidden" name="_csrf_token" value="{{ csrf_token('pin_deletion_' ~ pin.id) }}">
								<input type="hidden" name="_method" value="DELETE">
							</form>
						</div>
					{% endif %}
				</div>
			</article>
		</div>
	</div>

{% endblock %}
